/2_Ano/2_Semestre/AS/P/4_Guiao/air-quality-application-master
/3_Ano/1_Semestre/IA/P/2_guiao/guiao-sobre-pesquisa-RevengeRL1/venv
/3_Ano/1_Semestre/IA/P/2_guiao/guiao-rc-RevengeRL1/venv
/3_Ano/2_Semestre/IHC/Article_Presentation